:root {
  --button-color--header: #666666;
}
.header {
  /*align-items: center;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: 1190px;
}

.header__wrapper {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  height: 46px;
  width: 100%;
  /*position: fixed;*/
}

.header__right-bar {
  display: flex;
  flex-direction: row;
}

.header__left-bar {
  display: flex;
  flex-direction: row;
}

.header__user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin: 0 15px;
  margin-top: 5px;
}

.header__navigation-button {
  display: flex;
  color: var(--button-color--header);
  font-size: 13px;
  padding-right: 14px;
}

.header__navigation-button:hover {
  text-decoration: none;
}

.header__button {
  height: 32px;
  padding: 0 15px;
  background-color: var(--button-color--header);
  border-color: rgba(102,102,102,.8);
  box-shadow: none;
  border-radius: 6px;
  border-width: 0;
  margin-top: 4px;
  color: #fff;
}